.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .payment h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .paymentButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .paymentButton:hover {
    background-color: #0056b3;
  }
  